header{
    background-color: #17334d;
}
h1{
    background-color: #17334d;
    color: white;
    text-align: right;
}
.card-container{
    
    
}
.input-style input{

    height: 40px;
    font-size: 20px;
    display: flex;
    

}

h2{
    color: #17334d;
}

.input-style{
    width: 400px;
   
    
}
.container{
    display: flex;
    
    
    
}
.weather{
    width: 100%;
    background-color: #17334d;
    color: white;

}
.weather .pic img{
    max-width: 120px;
}
.s-btn{

    width: 100%;
    padding: 8px;
}
.l-btn{
    width: 100%;
    padding:8px;

}
.forecast{
    
}
.cardSlot{
    display: flex;
justify-content: space-between;
}
.card{
    background-color: #17334d;
    color: white;
}
p{
    font-weight: 800px;
}
.info{
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 600px;
}
#h2{
    color: white;

}
#cityName{

    position: relative;
    right:600px;
    text-align: left;
}