header{
    background-color: #17334d;
}
h1{
    background-color: #17334d;
    color: white;
    text-align: right;
}
.card-container{
    
    
}
.input-style input{

    height: 40px;
    font-size: 20px;
    display: flex;
    

}

h2{
    color: #17334d;
}

.input-style{
    width: 400px;
   
    
}
.container{
    display: flex;
    border: solid red;
    
    
}
.weather{
    width: 100%;
    background-color: #17334d;
    color: white;

}
.weather .pic img{
    max-width: 120px;
}
.s-btn{

    width: 100%;
    padding: 8px;
}
.l-btn{
    width: 100%;
    padding:8px;

}
.forecast{
    
}
.cardSlot{
    
}
.card{
    background-color: rgb(75, 75, 75);
    color: white;
}